ion-item-option::part(native) {
  display: flex;
  align-items: center;
}

$colors: ('primary','secondary','tertiary','success','warning','danger','dark','medium','light');

@each $color in $colors {
  ion-item-option[data-color="#{$color}"]::part(native) {
    background-color: var(--ion-color-#{$color});
    color: var(--ion-color-#{$color}-contrast);
  }
}
